{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnomarket</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{%static 'app/css/estilos.css'%}">
   
</head>
<body>


    
    <header id="header">
        <img class="menu" src="{%static 'app/img/menuiconwhite.png'%}" alt="menu" id="menu">
        <div class="contenedor_logo">

            {%block css%}
            {%endblock%}

            <img  class="logo"  src="{%static 'app/img/tecnomarketpngicono.png'%}" alt="logo">
            }
        </div>

        <div>
            
            <nav id="nav">
                <ul>
                    <li>
                        <a href="{% url 'home' %}"> Inicio </a>
                    </li>

                    <li>
                        <a href="{% url 'contacto' %}">Contacto</a>
                    </li>

                    <li><a href="{%url 'galeria'%}">Galería</a></li>

                    {% if perms.app.add_producto %}
                    <li>
                        <a href="{% url 'agregar_producto' %}">Agregar producto</a>
                    </li>
                    {%endif %}

                    {% if perms.app.view_producto %}

                    <li>
                        <a href="{% url 'listar_producto'%}">Listado de productos</a>
                    </li>
                    {%endif%}
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">Cerrar sesion</a>
                        </li>
                        <li>
                            <a href="#">@{{user.username}}</a>
                        </li>
                        {%else%}
                        <li>
                            <a href="{% url 'login' %}">Iniciar sesion</a>
                        </li>

                        <li>
                            <a href="{%url 'registro'%}">registro</a>
                        </li>
                        {%endif%}
                </ul>
            </nav>


        </div>

    </header>

    <div id="contenido">

        <!--{%if messages%}

        {%for m in messages%}
            {{m}}
        {%endfor%}

        {%endif%}-->

        {%block contenido%}
        {%endblock%}

        </div>


    </div>


    <footer>
        <div class="marcas">
            <img src="{%static 'app/img/footer/apple.png'%}" alt="apple">
            <img src="{%static 'app/img/footer/lenovo.png'%}" alt="lenovo">
            <img src="{%static 'app/img/footer/microsoft.png'%}" alt="microsoft">
            <img src="{%static 'app/img/footer/samsung.png'%}" alt="samsung">
            <img src="{%static 'app/img/footer/xiaomi.png'%}" alt="xiaomi">
        </div>
        <div class="logo_footer">
            <img src="img/tecnomarketpngicono.png" alt="logo">
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'app/js/menu.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>   

        {%if messages%}

        {%for m in messages%}
            <script>
                Swal.fire({
                  title: 'Felicitaciones',
                  text: '{{m}}',
                  icon: 'success',
                  
                })
            </script>
        {%endfor%}

        {%endif%}


        {%block js%}
        {%endblock%}

</body>
</html>